/* Variables */
:root {
    --dark-purple: hsl(273, 85%, 13%);
    --med-purple: hsl(271, 12%, 34%);
    --light-purple: hsl(276, 100%, 99%);
    --neon-green: hsl(150, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}
@font-face {
    font-family: fraunces;
    src: url(../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    line-height: 3.2rem;
}

/******************************************
/* LAYOUT
/*******************************************/
.hero {
    background-color: var(--dark-purple);
    padding: 3.5rem 5% 0.25rem;
}
.hero__logo {
    width: 100%;
}
.hero__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    align-items: center;
}
.hero__apply-cta {
    color: var(--white);
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: .3rem solid var(--neon-green);
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero__heading {
    text-align: center;
    color: var(--white);
    font-family: 'Fraunces', sans-serif;
    font-size: 5.6rem;
    line-height: 6.6rem;
}
.hero__heading span {
    border-bottom: .3rem solid var(--neon-green);
}
.hero__cta {
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: var(--dark-purple);
    font-weight: 700;
    background-color: var(--neon-green);
}
.hero__img {
    width: 90%;
    margin-top: -4rem;
    transform: translateY(10rem);
    z-index: 2;
}


.spotlight {
    background-color: var(--light-purple);
    padding: 6rem 5% 6rem;
}
.spotlight__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    text-align: center;
}
.spotlight__item {
    padding-bottom: 3rem;
}
.spotlight__num {
    font-family: 'Fraunces', sans-serif;
    font-size: 2.2rem;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 2px solid var(--dark-purple);
    align-self: center;
    margin: auto;
}
.spotlight__heading {
    font-family: 'Fraunces', sans-serif;
}
.spotlight__description {
    color: var(--med-purple);
}


.founder {
    padding: 6rem 5% 6rem;
    display: flex;
    flex-direction: column;
}
.founder__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    padding: 3rem;
    margin-top: -6rem;
}
.founder__heading {
    font-size: 3.5rem;
    font-family: 'Fraunces', sans-serif;
}
.founder__heading,
.founder__message {
    text-align: center;
    color: var(--white)
}
.founder__cta {
    text-decoration: none;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: var(--dark-purple);
    font-weight: 700;
    background-color: var(--neon-green);
    
    margin-bottom: 4.5rem;
}


.footer {
    padding: 6rem 5% 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    padding-bottom: 3rem;
}
.footer__social {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.footer__social-link {
    padding: 0 2rem;
}

/******************************************
/* TEST CURVE
/*******************************************/
.hero__curved-edge {
    width: 100%;
    left: 0;
    z-index: 1;
    height: 264px;
    margin-top: -10rem;
}
.hero__curved-edge path {
    fill: hsl(273, 85%, 13%);
}

.spotlight__curved-edge {
    width: 100%;
    left: 0;
    z-index: 1;
    height: 264px;
    left: 0;
    margin-top: -12rem;
}
.spotlight__curved-edge path {
    fill: var(--light-purple);
}