:root {
    --dark-purple: hsl(273, 85%, 13%);
    --med-purple: hsl(271, 12%, 34%);
    --light-purple: hsl(276, 100%, 99%);
    --neon-green: hsl(150, 100%, 63%);
    --white: hsl(0, 0%, 100%);

    --ff-fraunces: "Fraunces", serif;
    --ff-manrope: "Manrope", sans-serif;

    --fw-fraunces-600: 600;
    --fw-manrope-400: 400;
    --fw-manrope-700: 700;
}

/* General Styles */
html {
    font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
   clear: both;
}

body {
    font-family: var(--ff-manrope);
    font-size: 1.6rem;
    line-height: 2.8rem;
}
.btn-primary {
    text-decoration: none;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    color: var(--dark-purple);
    font-weight: var(--fw-manrope-700);
    background-color: var(--neon-green);
    border: 2px solid var(--neon-green);
}
.btn-primary:hover {
    background-color: transparent;
    color: var(--neon-green);
}
.wrapper {
    max-width: 1240px;
    padding: 2.5rem 2rem 0.25rem 2rem;
    margin: 0 auto;
}
/******************************************
/* HERO SECTION
/*******************************************/
.hero {
    background-color: var(--dark-purple);
}
.hero__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.hero__logo {
    display: block;
}
.hero__apply-cta {
    color: var(--white);
    text-decoration: none;
    font-weight: var(--fw-manrope-700);
    border-bottom: .3rem solid var(--neon-green);
}
.hero__apply-cta:hover {
    color: var(--neon-green);
}
.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.hero__heading {
    font-family: var(--ff-fraunces);
    font-size: 5rem;
    line-height: 6rem;
    color: var(--white);
    font-weight: var(--fw-fraunces-600);
    text-align: center;
    max-width: 40rem;
}
.hero__heading span {
    border-bottom: .3rem solid var(--neon-green);
}
.hero__img {
    width: 90%;
    margin-bottom: -6rem;
    transform: translateY(4rem);
    z-index: 2;
}

/******************************************
/* SPOTLIGHT SECTION
/*******************************************/

.spotlight {
    padding-top: 12rem;
    padding-bottom: 4rem;
    background-color: var(--light-purple);
}
.spotlight__container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    gap: 3rem;
    padding-inline-start: 0;
}
.spotlight__num,
.spotlight__heading {
    font-family: var(--ff-fraunces);
}
.spotlight__num {
    font-size: 2.1rem;
    border: 2px solid var(--dark-purple);
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.spotlight__heading {
    font-size: 2.8rem;
    margin: 1.5rem 0;
}
.spotlight__description {
    font-family: var(--ff-manrope);
    color: var(--med-purple);
}

/******************************************
/* FOUNDER SECTION
/*******************************************/
.founder {
    padding-top: 8rem;
    padding-bottom: 4rem;
}
.founder__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.founder__img {
    width: 85%;
    margin-bottom: -6rem;
}
.founder__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--dark-purple);
    padding: 4rem;
    gap: 3rem;
}
.founder__heading {
    font-size: 3.5rem;
    font-family: var(--ff-fraunces);
}
.founder__heading,
.founder__message {
    text-align: center;
    color: var(--white)
}

/******************************************
/* FOOTER
/*******************************************/
.footer {
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__logo {
    display: block;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.footer__social {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style-type: none;
    padding-inline-start: 0;
}

/******************************************
/* CURVES
/*******************************************/
.hero,
.spotlight {
    position: relative;
}
.hero__curved-edge,
.spotlight__curved-edge {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -3.5rem;
    z-index: 1;
}
.hero__curved-edge path {
    fill: hsl(273, 85%, 13%);
}
.spotlight__curved-edge path {
    fill: var(--light-purple);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }
    .hero {
        background-image: url(../images/bg-pattern-1.svg), url(../images/bg-pattern-2.svg);
        background-repeat: no-repeat;
        background-position: top 15rem left -10rem, top 34rem right -4rem;
    }
    .hero__heading {
        font-size: 6rem;
        max-width: 45rem;
    }
    .hero__img {
        margin-bottom: -13rem;
        transform: translateY(3rem);
    }
    .spotlight__item {
        display: flex;
        align-items: center;
    }
    .spotlight__content {
        text-align: left;
        padding-left: 3.5rem;
    }
    .spotlight__num {
        height: 4rem;
        width: 6rem;
    }

    .founder__container {
        position: relative;
    }
    .founder__container::after {
        content: url(../images/bg-pattern-3.svg);
        position: absolute;
        bottom: -6rem;
        right: 5rem;
    }
    .founder__img {
        align-self: flex-start;
        width: 45%;
        margin-bottom: -12rem;
    }
    .founder__message {
        align-items: flex-start;
        align-self: flex-end;
        width: 75%;
        text-align: left;
    }

}

@media (min-width: 1200px) { 

    .hero__heading {
        font-size: 8rem;
        max-width: 50rem;
        line-height: 8.7rem;
    }
    .spotlight {
        padding-top: 20rem;
        padding-bottom: 10rem;
    }
    .spotlight__container {
        flex-direction: row;
    }
    .spotlight__item {
        flex-direction: column;
    }
    .spotlight__content {
        text-align: center;
        padding-left: 0;
    }
    .spotlight__num {
        width: 3.8rem;
    }
    .founder__img {
        margin-bottom: -30rem;
    }
    .founder__message {
        width: 65%;
    }
}